.square(@side) {
    width: @side;
    height: @side;
}

.base-text() {
    font-size: 1.375rem;
    letter-spacing: 0.01rem;
}

.input() {
    border: none;
    border-bottom: 1px solid @border-color-form; 
    background-color: transparent;
    outline: none;
}

.flex-center() {
    display: flex;
    align-items: center;
    justify-content: center;
}