.blockquote {
    .flex-center();
    
    background-color: @bg-color-secondary;
    border-radius: 3.125rem;
    margin: 1.875rem 0 1.875rem;
    min-height: 16.6875rem;
    flex-direction: column;

    &::before {
        &:extend(.icon, .icon--quote-right);
        .square(6.25rem);
        
        content: '';
        top: 3.3125rem;
        background-color: @bg-color-accent;
    }
}

.blockquote__text {
    font-family: @font-secondary;
    color: @text-color-accent;
    font-style: italic;
    font-size: 1.5625rem;
    line-height: 1.25;
    letter-spacing: 0.02rem;
    display: block;
    text-align: center;
    margin-top: 0;
}