.button {
    background-color: @bg-color-tertiary;
    color: @text-color-inverted;
    font-weight: 600;
    font-size: 1.125rem;
    padding: 10px 54px;
    border-radius: 1.125rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.02em;
    border: none;
    min-height: 4.6875rem;
    cursor: pointer;

    &--accent {
        background-color: @bg-color-accent;
    }
}

    

