/*================================================
               Icon
================================================*/

.icon {
    .square(1.375rem);
    display: inline-block;
    background-color: @bg-color-tertiary;
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;

    &--accent {
        background-color: @bg-color-accent;
    }
    
    &--phone {
        mask-image: url('@{icon-path}/icon_phone.svg');
    }
    
    &--arrow-corner {
        mask-image: url('@{icon-path}/icon_arrow-corner.svg');
    }
    
    &--quote {
        mask-image: url('@{icon-path}/icon_quote.svg');
    }

    &--quote-big {
        mask-image: url('@{icon-path}/icon_quote_big.svg');
        .square(6.25rem);
    }
    
    &--earth {
        mask-image: url('@{icon-path}/icon_earth.svg');
    }
    
    &--envelope {
        mask-image: url('@{icon-path}/icon_envelope.svg');
    }
    
    &--arrow {
        mask-image: url('@{icon-path}/icon_arrow.svg');
    }
    
    &--search {
        background-color: @bg-color-search;
        mask-image: url('@{icon-path}/icon_search.svg');
    }
    
    &--star {
        background-color: @bg-color-star;
        mask-image: url('@{icon-path}/icon_star.svg');
    }
    
    &--fb {
        mask-image: url('@{icon-path}/icon_fb.svg');
    }
    
    &--tw {
        mask-image: url('@{icon-path}/icon_tw.svg');
    }
    
    &--li {
        mask-image: url('@{icon-path}/icon_li.svg');
    }
    
    &--inst {
        mask-image: url('@{icon-path}/icon_inst.svg');
    }
}

/*================================================
               Round-Icon
================================================*/

.round-icon {
    .square(4.375rem);
    background-color: @bg-color-secondary;
    border-radius: 50%;
    border: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &--inverted {
        background-color: @bg-color-primary;
    }
    
    &--large {
        .square(5.8125rem);
    }
}




