.icon {
    display: inline-block;
    width: 1.125rem;
    height: 1.375rem;
    background-color: @bg-color-tertiary;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: 50% 50%;
    mask-position: 50% 50%;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
}

.icon--large {
    width: 5.875rem;
    height: 5.875rem;
}

.icon--medium {
    width: 1.75rem;
    height: 1.75rem;
}

.icon--small {
    width: 1.3125rem;
    height: 1.3125rem;
}

.icon--accent {
    background-color: @bg-color-accent;
}

.icon--phone {
    -webkit-mask-image: url('/img/icons/icon_phone.svg');
    mask-image: url('/img/icons/icon_phone.svg');
}

.icon--arrow-corner {
    -webkit-mask-image: url('/img/icons/icon_arrow-corner.svg');
    mask-image: url('/img/icons/icon_arrow-corner.svg');
}

.icon--quote {
    -webkit-mask-image: url('/img/icons/icon_quote.svg');
    mask-image: url('/img/icons/icon_quote.svg');
}

.icon--earth {
    -webkit-mask-image: url('/img/icons/icon_earth.svg');
    mask-image: url('/img/icons/icon_earth.svg');
}

.icon--envelope {
    -webkit-mask-image: url('/img/icons/icon_envelope.svg');
    mask-image: url('/img/icons/icon_envelope.svg');
}

.icon--arrow {
    -webkit-mask-image: url('/img/icons/icon_arrow.svg');
    mask-image: url('/img/icons/icon_arrow.svg');
}

.icon--search {
    background-color: @bg-color-search;
    -webkit-mask-image: url('/img/icons/icon_search.svg');
    mask-image: url('/img/icons/icon_search.svg');
}

.icon--star {
    background-color: @bg-color-star;
    -webkit-mask-image: url('/img/icons/icon_star.svg');
    mask-image: url('/img/icons/icon_star.svg');
}

.icon--house {
    -webkit-mask-image: url('/img/icons/icon_large_house.svg');
    mask-image: url('/img/icons/icon_large_house.svg');
}

.icon--lamp {
    -webkit-mask-image: url('/img/icons/icon_large_lamp.svg');
    mask-image: url('/img/icons/icon_large_lamp.svg');
}

.icon--camera {
    -webkit-mask-image: url('/img/icons/icon_large_camera.svg');
    mask-image: url('/img/icons/icon_large_camera.svg');
}

.icon--upstairs {
    -webkit-mask-image: url('/img/icons/icon_large_upstairs.svg');
    mask-image: url('/img/icons/icon_large_upstairs.svg');
}

.icon--fb {
    -webkit-mask-image: url('/img/icons/icon_fb.svg');
    mask-image: url('/img/icons/icon_fb.svg');
}

.icon--tw {
    -webkit-mask-image: url('/img/icons/icon_tw.svg');
    mask-image: url('/img/icons/icon_tw.svg');
}

.icon--li {
    -webkit-mask-image: url('/img/icons/icon_li.svg');
    mask-image: url('/img/icons/icon_li.svg');
}

.icon--inst {
    -webkit-mask-image: url('/img/icons/icon_inst.svg');
    mask-image: url('/img/icons/icon_inst.svg');
}


