.site-menu {
    display: flex;
    gap: 2.8125rem;
}

.site-menu__item {
    .reset-unnumbered-bullets();
}

.site-menu__link {
    color: @text-color-secondary;
    font-size: 1.25rem;
    line-height: 1.25;
}

@media (hover: hover) {
    .site-menu__link:hover {
        color: @text-color-accent;
    }
}
